#map_div{
    width:100%;
    height:600px;
    background-color: #DDD;
}

.map_infowindow img{
    margin-top: 5;
    margin-bottom: 5px;
}

div.map_infowindow_gite div.info_box{
    background-color:rgba(200,232,167,0.31);
}

div.map_infowindow_chambre div.info_box{
    background-color:rgba(130,167,234,0.19);
}

div.map_infowindow_gite,
div.map_infowindow_chambre,
div.map_infowindow_package,
div.map_infowindow_extdata{
    width: 263px;
}

#map_div a.map_infowindow_title{
    font-family:'"Helvetica Neue",Arial,FreeSans,sans-serif';
    font-size:1.2em;
    font-weight:bold;
    color:#205C90;
    line-height:1.2em;
    border-bottom: 0;
}

#map_div p.map_infowindow_description{
    text-indent:15px;
}

img.map_infowindow_img{
    border: 1px solid #999999;
    box-shadow: 2px 2px 4px rgba(50, 50, 50, 0.3);
    margin: 3px 8px 0 3px;
}

div.map_infowindow_gite img.map_infowindow_img,
div.map_infowindow_chambre img.map_infowindow_img,
{
    height: 162px;
    width: 250px;
}

div.map_infowindow_package img.map_infowindow_img,
{
    height: 115;
    width: 246px;
}

div.map_infowindow_gite div.info_box,
div.map_infowindow_chambre div.info_box{
    border-radius: 5px 5px 5px 5px;
    box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.5);
    color: #333333;
    float: left;
    font-size: 9pt;
    font-weight: bold;
    height: 40px;
    margin: 8px 5px;
    text-align: center;
    width: 76px;
}

.map_infowindow_nombre{
    margin-bottom: -3px;
    margin-top: 3px;
    font-weight:bold;
    display:block;
    font-size:1.4em;
}
